
       <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">About</li>
				</ol>
            </div>
        </div>


	<div class="row">
		<div class="col-xs-12">
			<h3>Our mission</h3>
			<p>Well, then, i confess, it is my intention to commandeer one of these ships, pick up a crew in tortuga, raid, pillage, plunder and otherwise pilfer my weasely black guts out. you're only supposed to blow the bloody doors off! when i get back, remind to tell you about the time i took 100 nuns to nairobi! at this point, i'd set you up with a chimpanzee if it'd brought you back to the world! i want to shoot the pigeons... off my roof. a drug person can learn to cope with things like seeing their dead grandmother crawling up their leg with a knife in her teeth. but no one should be asked to handle this trip. well, then, i confess, it is my intention to commandeer one of these ships, pick up a crew in tortuga, raid, pillage, plunder and otherwise pilfer my weasely black guts out.</p>
		</div>
	</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Our History</h3>
				<p>My lord! you're a tripod. we are very much alike, you and i, i and you... us. do you like my meadow? try some of my grass! please have a blade, please do, it's so delectable and so darn good looking! it's not the size mate, it's how you use it. what? no. we can't stop here. this is bat country. we're not sheep! a drug person can learn to cope with things like seeing their dead grandmother crawling up their leg with a knife in her teeth. but no one should be asked to handle this trip. we're not sheep!</p>
		</div>
	</div>
