<div class="row">
		<div class="media">
			<div class="col-xs-8">
				<div class="media-body">
				<h3 class="media-heading">Feed the cat</h3>
				<p>You need to make your kitty's stomach full ASAP.</p>
				<div class="panel panel-info">
					<div class="panel-body">Person responsible: <strong>Joey</strong></div>
				</div>
				<div class="alert alert-success" role="alert">The task is <strong>finished.</strong>
				</div>
			</div>
			</div>

			<div class="col-cs-4">
				<div class="media-right">
				<img src="32H.jpg" class="media-object" width="140px" alt="hungry kitten">
			</div>
			</div>
		</div>
	</div>

